body {
    background-image: url('./images/back.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#loading-screen, html {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    animation: load 8s;
}

#main-window {
    position: fixed;
    left: 0;
    top: 100%;
    width: 100vw;
    height: 100vh;
    transition-duration: 1s;
    display: flex;
}

#general {
    height: 100vh;
    width: 50vw;
    background-color: #464f61;
    margin: 1vh;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    box-shadow: 0px 0px 10px #000000;
}

#active {
    height: 100vh;
    width: 50vw;
    background-color: #464f61;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    margin: 1vh;
    box-shadow: 0px 0px 10px #000000;
}

h1 {
    color: aliceblue;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin-top: 30vh;
    font-size: 25vh;
    font-weight: 900;
    animation: fadein 5s;
    margin-bottom: 1vh;
}

h2 {
    color: aliceblue;
    font-family: 'Arimo', sans-serif;
    text-align: center;
    margin-top: 30vh;
    font-size: 4vw;
    font-weight: 900;
    margin-bottom: 1vh;
}

.coord {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 5vh;
    font-weight: 900;
    margin: 0;
    border-style: solid;
    border-color: #D8DEE9;
    border-radius: 0.3vw;
    width: 7vh;
    height: 7vh;
    margin-top: 1vh;
    color: #D8DEE9;
    box-shadow: 0px 3px 6px #000000; 
}

.val {
    font-size: 5vh;
    margin-left: 1vw;
    color: #D8DEE9;
}

p {
    color: #eceff4;
}

.dat {
    width: 6vw;
    text-align: center;
    font-size: 4vh;
    border-style: solid;
    border-color: #D8DEE9;
    border-radius: 0.3vw;
    color: #D8DEE9;
    padding: 0.2vh;
    box-shadow: 0px 3px 6px #000000;
    display: inline-block;
}


#coords {
    display: flex;
    background-color: #373E4C;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    z-index: 3;
    height: 25%;
}

.coordBtn {
    aspect-ratio: 1;
    background-color: #D8DEE9;
    border-style: none;
    width: 100%;
    color: #D8DEE9;
    padding: 0%;
}

#controller {
    width: 75%;
    display: flex;
}

#monitoring {
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

#controller button {
    font-family: 'Arimo', sans-serif;
    font-weight: 900;
    background-color: transparent;
}

#XoY {
    aspect-ratio: 1;
    margin-left: 1vw;
}

#XoY .act:hover, .coordBtn:hover, button:hover, #pause:hover, #resume:hover, #stop:hover {
    opacity: 0.6;
    scale: 1.2;
    cursor: pointer;
}

#Z {
    aspect-ratio: 1/3;
}

.reset {
    font-family: 'Arimo', sans-serif;
    font-weight: 900;
    background-color: transparent;
    border-style: solid;
    border-color: #D8DEE9;
    border-radius: 0.3vw;
    color: #D8DEE9;
    font-size: 2vh;
    margin-top: 1vh;text-align: center;
    box-shadow: 0px 3px 6px #000000; 
}

.stepSize {
    font-family: 'Arimo', sans-serif;
    border-radius: 0.3vw;
    background-color: #D8DEE9;
    border-style: none;
    outline: none;
}

#data {
    width: 25%
}

canvas {
    height: 100%;
    width: 100%;
}

@keyframes fadein {
    0% {opacity: 0;}
    15% {opacity: 0; font-size: 10vh; transform: translateY(7.5vh);}
    80% {opacity: 100%; font-size : 25vh; transform: translateY(0vh);}
    100% {opacity: 0%; font-size : 25vh; transform: translateY(0vh);}
}

canvas.dragging {
    opacity: 0.7;
}

canvas:focus {
    outline: none;
}

canvas#renderer {
    transform: translateZ(0);
}

.editor__code {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--editor-border);
}

#from-gcode, #from-svg {
    box-shadow: 0px 3px 6px #000000;
    border-radius: 2vw;
    height: 50%;
    width: 45%;
    margin-top: 10vh;
}

#render-ways {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

progress[value] {
    accent-color: #88C0D0;
    width: 100%;
}